
/**Alert System*/
.messagealert {
    width: 500px;
    position: relative;
    z-index: 100000;
    padding: 0;
    font-size: 15px;
}

.btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 2s linear;
    -moz-transition: opacity 2s linear;
    -o-transition: opacity 2s linear;
    transition: opacity 2s linear;
}

    .fade.in {
        opacity: 1;
    }

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.btn-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}

.btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

    .btn-success:hover {
        color: #fff;
        background-color: #449d44;
        border-color: #398439;
    }
/**End Of Alert System*/

.modal {
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #808080;
    filter: alpha(opacity=60);
    opacity: 0.6;
    -moz-opacity: 0.8;
}

.center {
    z-index: 1000;
    margin: 300px auto;
    padding: 10px;
    width: 100%;
    text-align: center;
    background-color: transparent;
    filter: alpha(opacity=100);
    opacity: 1;
    -moz-opacity: 1;
}

    .center img {
        /*height: 128px;
            width: 128px;*/
    }
/**End of Modal Progress*/

.imgHolder {
    /*width: 230px;*/
    width: auto;
    padding: 20px;
    border: none !important;
    float: left;
    margin-right: 50px;
    margin-left: 0;
}
.productsGallery h2{
    text-align:left;
}
.descHolder p{
    text-align:left;
}
.productsHolder{
    margin:auto 10px;
}
 .card {
        transition: 0.3s;
        width: auto;
        max-width:20%;
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 20px;
    }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

    .cardcontainer {
        padding: 2px 16px;
        color: black;
        height: 90px;
        background-color: #f3f3f3;
        text-align:left;
    }